/* .sub-top h3{position: absolute; left: 50%;transform: translate(-50%,-50%);}; */
/* .sub-mid{position: absolute; left: 50%;transform: translate(-50%,-50%);}; */

.instagram embed{position: inherit; height: 100%; } 
/* transform:translate(50%,50%); */